/* Imports */
/* For typewriter animation effect */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Variables */

:root {
    --primary-color: #64b5f6;
    --outline-color: #ababab;
}

/* Body */

body {
    height: 100vh;
    margin: 0;
}

/* Header Section */

nav {
    border-bottom: 1px solid var(--outline-color);
    box-shadow: 0 0 3px var(--outline-color);
    background-color: rgba(255, 255, 255, 0.75)!important;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.nav-item.active { filter: brightness(75%); } 
.nav-link {
    margin: 1em!important;
    color: var(--primary-color)!important;
    transition: filter .2s;
}
    .nav-link:hover { filter: brightness(75%); }
    .nav-link:active { filter: brightness(50%); }

.navbar-nav {
    flex-direction: row!important;
    flex-wrap: wrap;
}

/* Main section */

main {
    /* Offset for fixed navbar.
    1.625rem is the fixed padding, 50px is the brand logo height. */
    margin-top: calc(1.625rem + 50px);
}
/*
a {
    /* Use my official shade of blue for links.  * /
    color: var(--primary-color)!important;
    transition: filter .2s;
}
    a:hover { filter: brightness(75%); }
    a:active { filter: brightness(50%); }
*/
/* Footer section */

footer {
    padding: 2px 8px;
    margin-top: 75px;
    min-height: 75px;
    /* background-color: var(--outline-color); */
}

/* Home page - src/index.pug */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-textblock {
  color: black;
  /* Slightly transparent so image is still visible beneath. */
  background-color: #ffffffce;
}

.masthead-textblock>p {
  margin-bottom: 0.4rem;
}

/* Typewriter effect */

/* This effect is specific to the text being displayed. If the length
of the text was updated, the `to { width: X }` must be manually updated
in `@keyframes typewriter {}` */

/* Animation */
.anim-typewriter {
    border-right: 3px solid var(--primary-color);
    font-family: 'Anonymous Pro', monospace;
    white-space: nowrap;
    overflow: hidden;
    /* For centering the text */
    margin: 0 auto;
    animation: typewriter 1s steps(16) .2s 1 normal both,
        blinkCaret 1s step-end 1.5s infinite;
}

@media screen and (max-width: 380px) {
    .anim-typewriter {
        font-size: 2rem;
    }
}

@keyframes typewriter {
    from { width: 0; }
    to { width: /* DEPENDS ON FINAL TEXT LENGTH! */ 8.7em; }
}

@keyframes blinkCaret {
  from, to { border-right-color: transparent; }
  50% { border-right-color:  var(--primary-color); }
}

/* Portfolio page - src/portfolio/index.pug */

.project-tag {
    /* Makea the <code> tags more visible from the background. */
    background-color: #eee;
}

/* Social links - src/_social_links.pug */

.social-link {
    color: black;
    transition: color .15s;
}
    .social-link:active { filter: brightness(75%); }
/* These are the brand colors for each icon, viewed on hover. */
.social-link-github:hover { color: grey;}
.social-link-gitlab:hover { color: #fc6d26; }
.social-link-itch-io:hover { color: #fa5c5c; }
.social-link-linkedin:hover { color: #006399; }
.social-link-dev:hover { color: #2769cc; }

/* Project page - src/portfolio/_project_layout.pug */

.carousel-image {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

@media (max-width: 480px) {
    .carousel-image {
        height: calc(100vh - 30px);
        max-height: 500px;
    }
}

a.btn.btn-link {
    /* Make sure 'all projects' link doesn't get underlined. */
    text-decoration: none!important;
}

.project-detail-paragraphs>p {
    margin-top: 1.5rem;
}

.project-ext-links {
    /* Show project links buttons in a column. */
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.project-ext-links>a.btn {
    /* Put icon on left and text on right. */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem;
}

/* Gallery */

.carousel-control-prev {
    background: linear-gradient(90deg, #6663, transparent);
}

.carousel-control-next {
    background: linear-gradient(-90deg, #6663, transparent);
}
