//- Layout template for blog posts.

    Mostly the blog doesn't follow a strict template. This is just setting
    up a minimal structure applicable to all posts, but if they need
    certain media, sections, mixins etc., the decision is left to each post.

extends ../_layout.pug
include ../_mixins.pug

append variables
    -
        //- The pageTitle and date must be set in posts
        var pageTitle = "Blog Title";
        var date = "2022-01-01";
        var description = "";

        //- Nothing should be highlighted in the navbar.
        var currentNavItem = "";

block main
    .container
        //- Back to all blogs link
        a.btn.btn-link.pt-4.d-flex.align-items-center(href=urlRoot+"blog.html")
            i.material-icons arrow_back
            span All posts
        hr

        //- Headline
        h1= pageTitle
        span= description
        p.mb-2= Intl.DateTimeFormat("en", { year: "numeric", month: "long", day: "numeric" }).format(new Date(date))

        block blogCopy
            //- Main content area for the blog post
            p.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
