extends ../_layout.pug
include ../_mixins.pug

append variables
    - pageTitle = "Blog Posts";
    - currentNavItem = "Blog";
    - description = "Collection of my blog posts.";
    include _blog_index.pug

block main
    .container
        h1.py-4 Blog Posts
            //- small.ml-2 Journal of my ideas

        ul
            for post in blogIndex
                li
                    a(href=urlRoot+post.relPath) #{post.title}
                    span &nbsp;-&nbsp;
                    span= Intl.DateTimeFormat("en", { year: "2-digit", month: "2-digit", day: "2-digit" }).format(new Date(post.date))
