//- Layout template for project pages.
extends ../_layout.pug
include ../_mixins.pug

//- Helper function to set project values from an object.

    @param options (object) A javascript object with the following
    properties:
        name: "My Awesome Project",
        short: "map",
        strapline: "Hello world I am a strapline",
        imageCount: 4,
        synopsis: "Several lines synopsis of project",
        features: {"feature 1": "description", "feature 2": "description"},
        detailParagraphs: ["challenges...", "technology...", "inspiration..."],
        links: {
            projectSite: "https://project_url",
            demo: "https://web_demo_url",
            source: "https://repository_url",
            docs: "https://docs_url"
            }
mixin setProject(options)
    -
        __projectTitle = options.name;
        __projectPageName = projectTitleToPageName(__projectTitle);
        __shortTitle = options.short;
        __strapline = options.strapline;
        __synopsis = options.synopsis;
        description = options.synopsis;
        __detailParagraphs = options.detailParagraphs;
        __features = options.features;
        __projectLinks = options.links;

        __imageLinks = [];
        for (let i = 0; i < options.imageCount; i++)
            __imageLinks.push(`${urlRes}${__projectPageName}/t_${__shortTitle}_gallery_${i}.png`);

append variables
    -
        //- The pageTitle must be set in child projects
        var pageTitle = "Project Title";
        var description = "";
        var currentNavItem = "";

        //- Project specific variables. Set them using the helper mixin above.
        var __projectTitle = "Project Title";
        var __projectPageName = "project_title";
        var __shortTitle = "pt";
        var __strapline = "Hello world I am a strapline";
        var __imageLinks = [
            "https://placehold.it/800x600?text=1",
            "https://images.unsplash.com/photo-1586653201944-cd4402463770?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80",
            "https://images.unsplash.com/photo-1498637841888-108c6b723fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2091&q=80"
        ];
        var __synopsis = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do" +
            "eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut" +
            "enim ad minim veniam, quis nostrud exercitation ullamco laboris" +
            "nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in" +
            "reprehenderit in voluptate velit esse cillum dolore eu fugiat" +
            "nulla pariatur. Excepteur sint occaecat cupidatat non proident," +
            "sunt in culpa qui officia deserunt mollit anim id est laborum.";
        var __detailParagraphs = [];
        var __features = {"x":"y"};
        //- No project links by default.
        var __projectLinks = {};

block main
    .container
        //- Back to all projects link
        a.btn.btn-link.pt-4.d-flex.align-items-center(href=urlRoot+"portfolio.html")
            i.material-icons arrow_back
            span All projects
        hr

        //- Headline
        h1= __projectTitle
        p= __strapline

        //- Gallery
        .row.my-4
            .col-md-1
            .col-md-10
                +carousel("project-gallery", __imageLinks)
                span Click an image to view full image

        //- Various paragraphs describing project
        p.mt-4= __synopsis

        h3 Features
        .row
            .col-md-8
                +titledList(__features)

        h3 Project Details
        .project-detail-paragraphs
            block detailParagraphs
                for content in __detailParagraphs
                    //- Add paragraphs for inspiration, technology, challenges, etc
                    p= content

        h3 External Links
        .project-ext-links
            if defined(__projectLinks.projectSite)
                a.btn.btn-outline-dark(href=__projectLinks.projectSite)
                    i.material-icons web
                    span Project Site
            if defined(__projectLinks.demo)
                a.btn.btn-outline-dark(href=__projectLinks.demo)
                    i.material-icons gamepad
                    span Demo
            if defined(__projectLinks.source)
                a.btn.btn-outline-dark(href=__projectLinks.source)
                    i.material-icons code
                    span Source Code
            if defined(__projectLinks.docs)
                a.btn.btn-outline-dark(href=__projectLinks.docs)
                    i.material-icons description
                    span Documentation
