extends _project_layout.pug

append variables
    - var pageTitle = "Cardiff Landmarks";
    include _project_data.pug
    +setProject(projectData.eira)

block detailParagraphs
    p.
        The project was a refinement of my web development skills. I found my
        personal preference of languages and tools to be as follows: github for
        source control, trello for todo list, typescript and sass for frontend,
        php and mysql for backend. Since this was a small project I used jquery
        for the UI components and a library called mdbootstrap which provided a
        number of easy to use clean modern components. In larger projects I would
        have setup react but this app didn't have many states that would be
        difficult to handle manually. As usual I followed good design principles
        (mainly MVC) to ensure a high quality functionality.
    
    p.
        Sometimes I find myself doing these relatively short projects, mainly web
        development recently, that I can focus all my effort on for a short time.
        It helps reassure me of my programming strengths while having few
        commitments. I don't foresee myself doing larger programming projects like
        I used to as it is too solitary. I prefer spending my time on violin
        practice and orchestra now which is more expressive and social.
