extends _project_layout.pug

append variables
    - var pageTitle = "Fabrik";
    include _project_data.pug
    +setProject(projectData.fabrik)

block detailParagraphs
    //- Inspiration
    p.
        The CS50X online course was split into four tracks. I chose to learn about
        mobile development for Android using Java and iOS using Swift. These both
        had many similarities, but I decided to focus on Java because my phone is
        currently an Android which I was able to use to physically test the app and
        ensure a high standard.

    //- Technology
    p.
        I chose Java to write the app because of its popularity and large collection
        of existing libraries. I utilized the JOML and JUnit packages to write and test 
        the mathematical simulation parts of the app. I also used various AndroidX
        packages and the Android material package to design my touchscreen UI with a
        similar aesthetic to other Android apps.

    //- Future
    p.
        With the mobile market increasing in popularity, more apps are being developed
        instead of traditional desktop programs. However it requires totally different
        design considerations due to the small screen. Seeing a different perspective 
        improved my user interface skills, particularly for icon buttons which I would
        usually avoid.
