extends _project_layout.pug
append variables
    - var pageTitle = "Garbage Truck Simulator 2019";
    include _project_data.pug
    +setProject(projectData.garbageTruckSimulator2019)

block detailParagraphs
    //-
        //- Inspiration
        p.

        //- Technology
        p.

        //- Future
        p.
