extends _project_layout.pug

append variables
    - var pageTitle = "Maze of Doom";
    include _project_data.pug
    +setProject(projectData.mazeOfDoom)

block detailParagraphs
    //- Inspiration
    p.
        The primary theme of this game jam was the restriction on graphics and sound
        to be consistent with a Nokia 3310 smartphone. I decided to put a modern twist
        in my entry by having a 3D world that is rendered to the screen's two-color,
        84x48 pixel screen using a dithering effect to convey depth. The game mechanic
        of a maze adventure was chosen because the exploration worked well with the
        early 3D visual style.

    //- Technology
    p.
        I knew I wanted to make this game mobile-friendly because simulating a retro
        smartphone would be awesome to show off from on a modern phone. I decided on
        Three.js for the game engine because it had a lot of features built in,
        crucially supporting the 3D rendering and shader effects I desired to realise
        this idea. Making it web based also reduced difficulty for game jam contestants
        to play the demo, as no additional download was required.

    //- Future
    p.
        As I look into entering more game jams in the future, I will seriously consider
        making stronger use of web based game engines as they much quicker to share and
        accessible to a wider audience than desktop games. I look forward to bringing my
        knowledge of Three.js to web based projects that need more advanced visuals
        than can be created in HTML and CSS alone.
