extends _project_layout.pug

append variables
    - var pageTitle = "Minesimulator";
    include _project_data.pug
    +setProject(projectData.minesimulator)

block detailParagraphs
    //-
        //- Inspiration
        p.

        //- Technology
        p.

        //- Future
        p.
