extends _project_layout.pug

append variables
    - var pageTitle = "Neat Treats";
    include _project_data.pug
    +setProject(projectData.neatTreats)

block detailParagraphs
    //- Inspiration
    p.
        The system was an online cake ordering system. The problem was that
        Neat Treats was using a paper based system to record customer orders
        which caused delays. The system I designed allowed customers to shop
        online at their convenience, and let staff fulfil orders more productively.
        By eliminating the reliance on paper records and manual calculation,
        staff members could focus on their work while relying on the digital
        system to automate tasks like inventory management and record organisation.

    //- Technology
    p.
        I have used several programming languages to create this website
        system. Each one was chosen for Neat Treats online system by
        performing a specific set of tasks that it was best suited for:
        PHP (back end data validation and site control), MySQL (database
        management), HTML (defining user interface elements), CSS
        (colours and layout of interface) and Javascript (front end
        interactive interface.) By using a variety of languages and
        tools, I was able to solve each problem in the most efficient way.

    //- Future
    p.
        The programming and design skills I cultivated from working on this
        project can be adapted to build or update websites to enable selling
        a variety of products online, and also to develop the crucial but hidden
        backend services that drive success in the digital age. As digital
        products rely more upon data driven services, my experience with
        database management software can be applied to many other industries to
        provide stable and reliable solutions to traditional paper based systems.
