extends _project_layout.pug

append variables
    - var pageTitle = "Portfolio Website";
    include _project_data.pug
    +setProject(projectData.portfolioWebsite)

block detailParagraphs

    //- Inspiration
    p.
        I developed my portfolio website as a way to showcase the programming projects
        had developed in an engaging way.
        My portfolio website is designed to convey my technical and personal skills
        in a visually appealing way. The bespoke typing animation effect on my homepage
        shows the audience my interest in programming and creativity.

    //- Technology
    p.
        Rather than using a prebuilt website template, I handcrafted the layout and
        content of my website to create something unique and engaging. I used the PUG
        language because it sped up the page creation by extending pages from an
        initial layout into lots of variants while keeping a consistent style. The use
        of preprocessor utilities enabled me to generate the projects overview and
        details pages from a singly defined data object.

    //- Future
    p.
        I am able to confidently create modern looking websites that scale well from
        mobile and desktop devices using a build system in the cloud. This could be
        applied to develop other portfolios by working closely with clients to create
        a site that expresses their individuality.
