doctype html
html(lang="en")
    head
        //- Pug JS variables. These are only used when generating the site using pug preprocessor
        block variables
            //- Page title prefix for head metadata.
            - var pageTitle = "Hello";
            //- Page description for head metadata.
            - var description = "";
            //- Set to either "About", "Portfolio" or "Contact" to be the active navbar item.
            - var currentNavItem = "";
            //- Root URL for the website when hosted.
            - var urlRoot = "https://davidkanekanian.co.uk/"
            //- Root URL for resources folder when hosted.
            - var urlRes = `${urlRoot}res/`;
            //- Whether a variable is defined.
            - var defined = x => x !== undefined;
            //- Convert a project title to a page name. (No file extension)
            - var projectTitleToPageName = function(pageName) { while (pageName.search(" ") != -1) pageName = pageName.replace(" ", "_"); return pageName.toLowerCase(); };

        //- Google Analytics - tracks visitor count
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-163816086-1" async)
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-163816086-1');

        //- Meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content=description)

        //- External resources
        //- Bootstrap
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
        //- jquery
        script(defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
        script(defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        //- Bootstrap css
        script(defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
        //- Font awesome
        script(src="https://kit.fontawesome.com/25320ed3fc.js" crossorigin="anonymous")
        //- Material icons
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")

        //- My website resources and data
        title #{pageTitle} - David Kanekanian
        link(href=urlRes+"style_main.css" rel="stylesheet" type="text/css")
        link(href=urlRes+"favicon.ico" rel="shortcut icon" type="image/x-icon")
    body
        include _navbar.pug

        //- Page Content
        main
            block main
                .container.mt-4
                    h1 David Kanekanian
                    p Welcome to my website!

        //- Footer section
        footer
            .container.text-center
                block footer
                    .my-4
                        include _social_links.pug
                    p &copy; Copyright 2020-22 David Kanekanian
