extends _layout.pug

append variables
    - var pageTitle = "Home";
    -
        var description = "" +
            "David Kanekanian is a web and game programmer skilled in Python, "
            "C++, Unreal Engine 4, PHP, MySQL, C# and Unity.";

block main
    //- Masthead displays a full page background image with text in its center.
    .masthead
        .container.h-100: .row.h-100.align-items-center: .col-12
            //- Masthead textbox is the centered text. The title is
                animated to look like it is being typed (because I like
                programming which involved typing!)
            .masthead-textblock.text-center.py-1
                // h1.font-weight-light David Kanekanian
                h1.anim-typewriter David Kanekanian
                p Programmer and violinist
