extends ../../../_blog_template.pug

append variables
  - pageTitle = "The Cursed Villages and the Thieving Merchant";
  - date = "2022-05-02";

block blogCopy
  p.
    There was a village in the mountains with goat inhabitants. A spell
    had forced everyone to turn into goats. They weren't able to use the
    doors to get into their houses anymore so they spread out and lived
    on the mountain side.

  p.
    In a nearby village the people were turned into snakes by another
    spell. The snakes slithered around but couldn't open the doors to
    their former houses and carry on their human lives so they went into
    the forest to wrap themselves around trees in search of prey.

  p.
    A traveling merchant was walking through the mountains when he saw a
    village in the distance. He approached and on seeing it abandoned he
    broke into some houses and looted the valuables to sell in a second
    village he also spotted on the way. He headed there and saw it was
    abandoned too. The merchant couldn't make head or tail of it so
    checked left and right that no one was witness then looted some
    farming tools he thought could be useful to someone else.
  
  p.
    The moment he stepped out of the second village he felt his legs
    wobble as he descended the mountain but thought nothing of it and
    continued down the valley where he knew there would be living people
    in the village he could sell his stolen goods to. When he reached
    the village at the bottom of the valley he approached people and
    sold a few goods. With each sale his speech resembled bleating more
    and more. Soon his ears grew pointy and thin hairs stretched over
    his arms.

  p.
    People mocked him at the goat like features then turned and ran in
    fear as the merchant's two legs fused into one and grew over five
    meters in length with green and yellow stripes twisting round. The
    mixture of snake and goat features was so abominable that he
    couldn't even understand how to move and made a horrible racket.
  
  p.
    Finally the guards arrived and dragged the body to a ditch in the
    middle of the forest through a mile of stinging nettles and poison
    ivy and thorn bushes where nobody would find it before puncturing
    its heart. Gallons of black tar spilled out and spoiled the
    landscape. The screeching of hissing and crying was heard all the
    way from the village but the final groan gave them peace that the
    monster was overcome.

  p.
    Just as the guards unpacked what they had witnessed and approached
    the village gates, a horde of goats and snakes was conjured,
    apparently awakened by the screams of the monster. The guards yelled
    to have the gates shut and locked but the animals outmatched them
    and climbed the gate to devour the villagers in a frenzy.

  p.
    After engorging themselves the wild animals fought each other until
    only one goat remained, severely wounded. He survived a further two
    hours before taking his last rasping breath.
